<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="leanft">
      <section name="report" type="HP.LFT.Report.Configuration.ReportConfigSection, HP.LFT.Report"/>
      <section name="sdk" type="HP.LFT.SDK.Configuration.SDKConfigSection, HP.LFT.SDK"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <leanft>
    <sdk mode="replay">
      <connection address="ws://localhost:5095">
        <connect timeout="60" />
        <response timeout="600"/>
      </connection>
      <server autolaunch="true" />
    </sdk>
    <report>
      <heading>
        <title></title>
        <description></description>
      </heading>
      <output target-directory="." report-folder="RunResults"  override-existing="true"/>
      <filter level="All"/>
      <media>
        <snapshots level="Off"/>
      </media>
    </report>   

  </leanft>
  
</configuration>